
<nav class="navbar fixed-top navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="#"> <i id="heading"></i>Shopping Cart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="home">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link active " href="#"id="about">About</a>
      </li>

            <li class="nav-item">
              <a class="nav-link active " href="{% url 'products:product_list' %}"id="products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active " href="{%url 'accounts:logout'%}"id="logout">Logout</a>
            </li>

              <p id="user"><i>Welcome @{{request.user.username}}</i></p>

    </ul>

  </div>

  <h6> <i>Cart</i> </h6>

  <a href="#" id="cart"><i class="ion-android-cart"></i></a>


</nav>
